<header>
    <h1>Admin Hands</h1>
    <nav>
        <ul>
            <li><a href="/admin-dashboard">Admin Dashboard</a></li>
            <li><a href="/edit-meal-plans">Edit Meal Menu</a></li>
            <li><a href="/admin-feedbacks">View Reports</a></li>
            <li><a href="/admin-payments">View Payments</a></li>
            <li><a href="/login">LogOut</a></li>
        </ul>
    </nav>
</header>