<nav class="navbar">
    <ul>
        <li><a href="/dashboard/student">Dashboard</a></li>|
        <li><a href="/mealplan">Meal Plan</a></li>|
        <li><a href="/payment">Payments</a></li>|
        <li><a href="/feedback">Feedback</a></li>|
        <!--<li><a href="/notifications">Notifications</a></li> -->
        <li><a href="/profile">Profile</a></li>|
        <li><a href="/show-rooms">Book Rooms</a></li>
    </ul>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
</nav>
