body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.navbar {
    background-color: #333;
    padding: 1rem;
    color: #fff;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.btn-custom-width {
    width: 75%; /* Adjust width as needed, or use a specific value like 300px */
    max-width: 250px; /* Optional: Set a maximum width if you want to limit it */
}

.navbar ul li {
    float: left;
    margin-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.widget {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.widget h3 {
    margin-top: 0;
}

.widget a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
}

form .btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form .btn:hover {
    background-color: #2980b9;
}

